<head>
    <style type="text/css">
        .message.info.empty:before{
            content: '\e61a';
            font-size: 2.9rem;
            margin-top: -18px !important;
        }
    </style>
    <script type= "text/javascript">
            function xn(){
                if(!window.confirm("Do you want to delete item ?")){
                    return false;
                }
            }
    </script>
	<script>
		require(['jquery','nestsortable'], function(jQuery,nestsortable) {
            jQuery(document).ready(function(){
                if( jQuery('div#nestable.dd')){
                    var jsonOld = '';
                }
                var jsonBeforeOnly = '';
                var updateOutputBefore = function(e)
                {
                    var list   = e.length ? e : jQuery(e.target),
                        output = list.data('output');
                    if (window.JSON) {
                        var jsonBefore = window.JSON.stringify(list.nestable('serialize'));
                        output.val(window.JSON.stringify(list.nestable('serialize')));
                    } else {
                        output.val('JSON browser support required for this demo.');
                    }
                };
                jQuery('#nestable').nestable({
                        group: 1
                })
                .on('load', updateOutputBefore)
                    updateOutputBefore(jQuery('#nestable').data('output', jQuery('#nestable-before')));
                    jsonBeforeOnly = jQuery('#nestable-before').val();
                var updateOutput = function(e)
                {
                    var list   = e.length ? e : jQuery(e.target),
                        output = list.data('output');
                    if (window.JSON) {
                        var json = window.JSON.stringify(list.nestable('serialize'));
                        output.val(window.JSON.stringify(list.nestable('serialize')));
                    } else {
                        output.val('JSON browser support required for this demo.');
                    }
                };
                jQuery('#nestable').nestable({
                    group: 1
                })
                .on('change', updateOutput);
                updateOutput(jQuery('#nestable').data('output', jQuery('#nestable-after')));
                var jsonAgain = '';
                jQuery('#nestable').on('change',function(){
                    if(jsonAgain === ''){
                        if(jsonBeforeOnly != jQuery('#nestable-after').val()){
                            jQuery(document).ajaxStart(function () {
                                jQuery("#ajaxSpinnerContainer").show();
                            });
                            jQuery.ajax({
                                method: "POST",
                                url: "<?php echo $this->getChangePositionUrl();?>",
                                data: { 'json': jQuery('#nestable-after').val(),'old':jQuery('#nestable-before').val()}
                            })
                            .done(function( msg ) {
                                jQuery("#ajaxSpinnerContainer").hide();
                            });
                            updateOutput(jQuery('#nestable').data('output', jQuery('#nestable-before')));
                            jsonAgain = jQuery('#nestable-before').val();
                        }
                    }else{
                        if(jsonAgain  != jQuery('#nestable-before').val()){
                            jQuery(document).ajaxStart(function () {
                                jQuery("#ajaxSpinnerContainer").show();
                            });
                            jQuery.ajax({
                                method: "POST",
                                url: "<?php echo $this->getChangePositionUrl();?>",
                                data: { 'json': jQuery('#nestable-before').val(),'old':jQuery('#nestable-after').val()}
                            })
                            .done(function( msg ) {
                                jQuery("#ajaxSpinnerContainer").hide();
                            });
                            updateOutput(jQuery('#nestable').data('output', jQuery('#nestable-before')));
                            jsonAgain = jQuery('#nestable-before').val();
                        }
                    }
                });
            });

		})
	</script>
</head>
<body>
    <div id="nestable" class="dd">
        <?php if (!count($this->helper->getMenuItemsByRootId($this->getRequest()->getParam('root_id')))):?>
            <div class="message info empty" style="width:700px">
                        <?php echo __('There is still no any menu item yet. Please click button Add item to create new menu item.')?>
            </div>
        <?php else: ?>
        <?php echo $this->renderMenuItemHierachy()?>
        <?php endif;?>
    </div>
    <textarea id="nestable-before" style="display:none;"></textarea><br/>
    <textarea id="nestable-after" style="display:none;"></textarea>
<div id="ajaxSpinnerContainer">
</div>
</body>
